@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* .AppHeader{
    width: 100%;
    background-color: #e0dbdb88;
} */

.dashboard-header{
    
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #000000;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.AppHeaderTitle{
    
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.AppHeaderTitle2 {
    padding: 10px;
}

.AppHeaderTitle2 span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(226, 12, 12);
    font-size: 17px;
    font-weight: 500;
}

.AppHeaderTitle2 .icon {
padding-left: 25px;
  font-size: 20px;
}