/* Style for the main container */
div {
    text-align: center;
  }
  
  /* Style for the heading */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Style for the search input */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the city list */
  .PHul {
    list-style: none;
    padding: 0;
  }
  
  /* Style for each city item */
  .PHli {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for city items */
  .PHli:hover {
    background-color: #e7e7e7;
  }
  
  /* Style for strong elements within list items */
  .PHli strong {
    font-weight: bold;
    color: #333;
  }
  
  /* Style for the pollutants list */
  .PHul .PHull {
    margin: 10px 0;
    padding: 0;
  }
  
  /* Style for pollutants list items */
  .PHull .PHlii {
    margin: 5px 0;
    font-weight: normal;
  }
  
  /* Style for pollutants list strong elements */
  .PHull .PHlii strong {
    font-weight: bold;
    color: #555;
  }

/* Style for the close button in the modal */
.close-button {
  background-color: #ff5733;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 50%; /* Make it a circle */
  cursor: pointer;
  font-size: 18px; /* Adjust the size */
  position: absolute;
  top: 28px;
  right: 28px;
  transform: translate(50%, -50%);
}

/* styles.css */
/* styles.css */
.popup {
  position: fixed;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 8px; /* Reduce the padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 400px;
  height: 400px; /* Adjust the maximum height */
  text-align: left;
  overflow-y: auto;
}
